# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.

# Default owners for everything in the repo
*                                      @KolbyML

# Crate-specific ownership
crates/common/api_types/               @KolbyML @Kayden-ML @shariqnaiyer
crates/common/chain/                   @KolbyML @Kayden-ML @shariqnaiyer
crates/common/checkpoint_sync/         @KolbyML @varun-doshi @Kayden-ML
crates/common/consensus/beacon/        @KolbyML @Kayden-ML @shariqnaiyer @varun-doshi
crates/common/consensus/lean/          @KolbyML @Kayden-ML @shariqnaiyer
crates/common/events/                  @KolbyML @Kayden-ML @shariqnaiyer
crates/common/execution/               @KolbyML @Kayden-ML @shariqnaiyer
crates/common/fork_choice/             @KolbyML @Kayden-ML @shariqnaiyer
crates/common/light_client/            @KolbyML @Kayden-ML @shariqnaiyer
crates/common/metrics/                 @KolbyML @Kayden-ML @shariqnaiyer
crates/common/network_spec/            @KolbyML @Kayden-ML @shariqnaiyer
crates/common/node/                    @KolbyML @Kayden-ML @shariqnaiyer
crates/common/operation_pool/          @KolbyML @Kayden-ML @shariqnaiyer
crates/common/polynomial_commitments/  @KolbyML @Kayden-ML @shariqnaiyer
crates/common/sync/                    @KolbyML @Kayden-ML @shariqnaiyer
crates/common/sync_committee_pool/     @KolbyML @Kayden-ML @shariqnaiyer
crates/common/validator/               @KolbyML @shariqnaiyer @Patchoulis
crates/crypto/                         @KolbyML @shariqnaiyer @Patchoulis
crates/networking/                     @KolbyML @Kayden-ML @shariqnaiyer
crates/rpc/                            @KolbyML @varun-doshi @Kayden-ML @shariqnaiyer
crates/storage/                        @KolbyML @Kayden-ML
testing/                               @KolbyML @Kayden-ML @shariqnaiyer
