name: docker-ci
on:
  push:
    branches: [master]

permissions:
  packages: write
  contents: read

jobs:
  push:
    runs-on: ubuntu-latest
    if: github.repository == 'reamlabs/ream'

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64, amd64
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: .  
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/reamlabs/ream:latest
